/* login.css */

/* login.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* To position elements relative to the body */
}

h1 {
    color: #007bff; /* Change color to your preference */
    font-size: 2em; /* Adjust font size as needed */
    text-align: center;
    margin-bottom: 30px;
    position: absolute; /* Position the title absolutely */
    top: 20px; /* Adjust the top value to place it at the top */
    left: 50%;
    transform: translateX(-50%);
}

.links {
    position: absolute; /* Position the links absolutely */
    top: 120px; /* Adjust the top value to place them under the title */
    left: 50%;
    transform: translateX(-50%);
}

.links a {
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
    color: red;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.links a:first-of-type {
    margin-right: 10px; /* Adjust the spacing between the links */
}


form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form p {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #007bff;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}








